/* * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
} */

:root {
	--main-bg-color: #181a2c;
	--main-fg-color: #ff7fff;
	--slider_color: #ff7fff;
	--slider_border_color: #9e409e;
	--track_color: #88888825;
	--track_focus_color: #88888850;
	--track_height: 32px;
	--button_height: 32px;
	--button_width: 48px;
	--button_corner: 16px;	
 }

html {
	margin: 1vmin;
	background: var(--main-bg-color);
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
	/* text-rendering: optimizeLegibility; */
}
header {
	font-size: 6vmin; /*32px;*/
	/* line-height: 32px; */
	/* font-weight: 100;
	letter-spacing: 6px; */
	color: var(--main-fg-color);
}
header img {
	width: 15vmin;
	/* height: 64px; */
	/* position: relative;
	top: 5vmin; */
}
section {
	margin: 0vmin;
}

/* h1, h2, h3 {
	color: #555;
	text-rendering: optimizeLegibility;
}
h1 {
	font-size: 3.25em;
	font-weight: normal;
}
h2 {
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: normal;
}
p, footer {
	margin: 1em 0 .5em;
}*/

footer {
	font-size: 3vmin;
	color: var(--main-fg-color);
	/* clear: both;
	text-align: right;
	margin-top: 4em; */
}
/* footer .credit {
}  */

/* Layout */
.divider{
	width: 5px;
	height: auto;
	display: inline-block;
}

/* Table padding */
td { 
    padding: 8px;
}

/* UI component styles */
label {
	font-size: 3vmin; /* Set a font size */
	/* padding-left: 16px;
	padding-right: 16px; */
	color: var(--main-fg-color);
}

video{
	width: 92vmin;
}

input[type=range] {
	width: 440px;
	/* margin: -3.1px 0; */
	background-color: transparent;
	-webkit-appearance: none;
  }
  input[type=range]:focus {
	outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
	background: var(--track_color);
	/* border: 0; */
	height: var(--slider_height);
	cursor: pointer;
  }
  input[type=range]::-webkit-slider-thumb {
	width: var(--button_width);
	height: var(--button_height);
	background: var(--slider_color);
	border-radius: var(--button_corner);
	cursor: pointer;
	-webkit-appearance: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
	background: var(--var(--track_focus_color));
  }
  input[type=range]::-moz-range-track {
	background: var(--track_color);
	border: 0;
	height: var(--slider_height);
	cursor: pointer;
  }
  input[type=range]::-moz-range-thumb {
	width: var(--button_width);
	height: var(--button_height);
	background: var(--slider_color);
	border-radius: var(--button_corner);
	cursor: pointer;
  }
  input[type=range]::-ms-track {
	background: transparent;
	border-color: transparent;
	border-width: 0 0;
	color: transparent;
	height: var(--slider_height);
	cursor: pointer;
  }
  input[type=range]::-ms-fill-lower {
	background: #351d22;
	border: 0;
  }
  input[type=range]::-ms-fill-upper {
	background: #46262c;
	border: 0;
  }
  input[type=range]::-ms-thumb {
	width: var(--button_width);
	height: var(--button_height);
	background: var(--slider_color);
	border-radius: var(--button_corner);
	cursor: pointer;
	/*Needed to keep the Edge thumb centred*/
  }
  input[type=range]:focus::-ms-fill-lower {
	background: #46262c;
  }
  input[type=range]:focus::-ms-fill-upper {
	background: #572f36;
  }
  /*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
  how to remove the virtical space around the range input in IE*/
  @supports (-ms-ime-align:auto) {
	/* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
	input[type=range] {
	  margin: 0;
	  /*Edge starts the margin from the thumb, not the track as other browsers do*/
	}
  }