:root {
	--main-bg-color:rgb(24, 26, 44);
	--main-fg-color:rgb(255, 127, 255);
	--slider_color: rgb(255, 127, 255);
	--slider_border_color: rgb(158, 64, 158);
	--track_color: rgba(255, 255, 255, 0.125);
	--track_focus_color: rgba(255, 255, 255, 0.25);
	--track_height: 32px;
	--button_height: 32px;
	--button_width: 48px;
	--button_corner: 16px; /* button_height / 2 */
 }

html {
	margin: 1vmin;
	background: var(--main-bg-color);
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
	/* text-rendering: optimizeLegibility; */
}

header {
	font-size: 6vmin; /*32px;*/
	color: var(--main-fg-color);
}
header img {
	width: 15vmin;

}

section {
	margin: 0vmin;
}

footer {
	font-size: 3vmin;
	color: var(--main-fg-color);
}

/* Layout */
.divider{
	width: 5px;
	height: auto;
	display: inline-block;
}

/* Table padding */
td { 
    padding: 8px;
}

/* UI component styles */
label {
	font-size: 3vmin; /* Set a font size */
	color: var(--main-fg-color);
}

input[type=range] {
	width: 440px;
	/* margin: -3.1px 0; */
	background-color: transparent;
	-webkit-appearance: none;
  }
  input[type=range]:focus {
	outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
	background: var(--track_color);
	/* border: 0; */
	height: var(--slider_height);
	cursor: pointer;
  }
  input[type=range]::-webkit-slider-thumb {
	width: var(--button_width);
	height: var(--button_height);
	background: var(--slider_color);
	border-radius: var(--button_corner);
	cursor: pointer;
	-webkit-appearance: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
	background: var(--track_focus_color);
  }
  input[type=range]::-moz-range-track {
	background: var(--track_color);
	border: 0;
	height: var(--slider_height);
	cursor: pointer;
  }
  input[type=range]::-moz-range-thumb {
	width: var(--button_width);
	height: var(--button_height);
	background: var(--slider_color);
	border-radius: var(--button_corner);
	cursor: pointer;
  }
  input[type=range]::-ms-track {
	background: transparent;
	border-color: transparent;
	border-width: 0 0;
	color: transparent;
	height: var(--slider_height);
	cursor: pointer;
  }
  input[type=range]::-ms-fill-lower {
	background: var(--track_focus_color);
	border: 0;
  }
  input[type=range]::-ms-fill-upper {
	background: var(--track_focus_color);
	border: 0;
  }
  input[type=range]::-ms-thumb {
	width: var(--button_width);
	height: var(--button_height);
	background: var(--slider_color);
	border-radius: var(--button_corner);
	cursor: pointer;
	/*Needed to keep the Edge thumb centred*/
  }
  input[type=range]:focus::-ms-fill-lower {
	background: var(--track_focus_color);
  }
  input[type=range]:focus::-ms-fill-upper {
	background: var(--track_focus_color);
  }
  /*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
  how to remove the virtical space around the range input in IE*/
  @supports (-ms-ime-align:auto) {
	/* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
	input[type=range] {
	  margin: 0;
	  /*Edge starts the margin from the thumb, not the track as other browsers do*/
	}
  }