<!doctype html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Ruffiana's Playground</title>
	<meta name="description" content="">
	<meta name="author" content="ruffiana.plays@gmail.com">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>

<body>
	<header>
		<table>
			<tr>
				<td><img src="{{ url_for('static', filename='images/avatar_ruffiana.png') }}"></td>
				<td>RUFFIANA'S<br>PLAYGROUND</td>
			</tr>
		</table>
	</header>
	<section>
		<video id="vid" loop muted autoplay style="display: {{ hide_video }};">
			<source src="{{ url_for('static', filename='video/pink_bubble.mp4') }}" type="video/mp4">
		</video>
	</section>
	<section>
		<!-- <button class="speedbtn">0</button>
		<button class="speedbtn">1</button>
		<button class="speedbtn">2</button>
		<button class="speedbtn">3</button>
		<button class="speedbtn">4</button>
		<button class="speedbtn">5</button>
		<button class="speedbtn">6</button>
		<button class="speedbtn">7</button>
		<button class="speedbtn">8</button>
		<button class="speedbtn">9</button>
		<button class="speedbtn">10</button> -->
		<input id="speedSlider" type="range" min="0" max="100" step="1" value="0">
	</section>
	</br>
	<footer>
		<label id="label" for="vid">Ruffiana is offline</label>
		<!-- <small>(version 2.0)</small> -->
	</footer>
	<script src="{{ url_for('static', filename='js/fckmsheen.js') }}"></script>
</body>
</html>
